<div id="footer">
  <div class="info">
    <div class="first">
    </div>
    <div class="second">
    </div>
  </div>
  <div class="powered_by">
    powered by
    <%= link_to(image_tag("footer_logo.png"), "http://www.openskip.org/") %>
  </div>
</div>
